
.board {
    display: flex;
    justify-content: center;
    
}

#column1, #column2, #column3, #column4, #column5, #column6, #column7 {
    border: 1px solid black;
    height: 460px;
    width: 100px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.red {
    width: 75px;
    height: 75px;
    background-color: red;
    border: 1px solid black;
    border-radius: 30px;
    
}
 
.black {
    width: 75px;
    height: 75px;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    
}