
#board {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.col {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    /* border-right: 1px solid black; */
    height: 370px;
    width: 100px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
    
}

.red, .black {
    width: 55px;
    height: 55px;
    border: 1px solid black;
    border-radius: 30px;
    pointer-events: none;
    margin: 1px;
}

.red {
background-color: red;
}
 
.black {
    background-color: black;
}

#winMessage {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    
}

.six {
    border-right: 1px solid black;
}


